# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
venv/
ENV/
env/
.venv/

# Personal .txt notes for the projects
Docs/

# Random testing codes
testing_codes/
test.ipynb
test.py


# Large dataset that can be generated using main.py
end_to_end/datasets/original/sales_old.csv
end_to_end/datasets/processed/sales_pro_old.csv
end_to_end/datasets/original/sales.csv
end_to_end/datasets/processed/sales_pro.csv
standalone_scripts/generate_sales_6m.py